<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Add account</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/admin/admin.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body th:inline="text">

<!--header-->
<div th:replace="/admin/component/header ::entry"></div>
<!--end-header-->


<div class="container-fluid" th:object="${employee}">
    <div class="row">
        <!--left-nav-menu-->
        <div th:replace="/admin/component/left-nav-menu ::entry"></div>
        <!--end left-nav-menu-->

        <!--main-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">You can edit employee's position and salary</div>


                <div class="panel-body" th:class="${error}? 'panel-danger' ">
                    <!--panel body-->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p th:text="*{name} +' '+ *{surname}">Name Surname</p>
                                </li>
                                <li class="list-group-item">
                                    <p>contact info:</p>
                                    <p th:text="'Email: '+ *{email}">Email</p>
                                    <p th:text="'Phone: '+ *{phoneNumber}">Phone Number</p>
                                </li>
                                <li class="list-group-item">
                                    <p th:text="'Position: ' + *{position}">Position</p>
                                </li>

                                <li class="list-group-item">
                                    <p th:text="'Salary: ' + *{salary.amount} + *{salary.currency}">0.00 USD</p>
                                </li>
                            </ul>
                        </div><!-- /.col-lg-6 -->


                        <form action="#" th:action="@{/admin/edit-employee/send}" method="post">

                            <input type="hidden" th:value="*{id}" name="employeeId">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <label for="position">New position :</label>
                                            <input type="text" name="newPosition" id="position"
                                                   class="form-control" value=""
                                                   aria-label="...">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <label for="newSalaryAmount">New month salary :</label>
                                            <input type="number" min="0.00001" max="500000"  name="newSalaryAmount" id="newSalaryAmount"
                                                   class="form-control" value=""
                                                   aria-label="...">
                                            <select name="newSalaryCurrency">
                                                <option
                                                        th:each="currency : ${T(ua.dudka.employee.domain.Currency).values()}"
                                                        th:value="${currency}"
                                                        th:text="${currency}">
                                                </option>
                                            </select>
                                        </div><!-- /input-group -->

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <div class=" btn-submit-transfer btn-group btn-group-justified" role="group">
                                                <div class="btn-group" role="group">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div th:if="${error}">
                                            <h3><span class="label label-danger" th:text="${error}"></span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.row -->
                    <!--endpanel body-->

                </div>

            </div>

        </div>
        <!--end main-->

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>