<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Left-nav-menu</title>
</head>
<body>
<div th:fragment="entry" class="col-sm-3 col-md-2 sidebar">
    <div style="margin-bottom: 60%"></div>
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="../user/dashboard.html" th:href="@{/dashboard}">Dashboard <span
                    class="sr-only">(current)</span></a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li>
            <a href="../user/currency-exchange.html" th:href="@{/currency-exchange}">Exchange</a>
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="../user/money-transfer.html" th:href="@{/money-transfer}">Transfer</a></li>
    </ul>
</div>
</body>
</html>